<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests" >

	 
   <test name ="Test1">
    <parameter name="browser" value="Chrome"/>
     
     <classes>
       <class name="TestClasses.Test_01"/>
       <class name="TestClasses.MobileGestures"/>
      <!--  <class name="TestClasses.UISelector"/>-->
     </classes>
     
   </test>
    
   
</suite>  
